name: Deploy to DEV

on:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/template-cd-app.yaml
    with:
      tag: ${{ github.sha }}
      environment: "dev"
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}