name: Deploy to PROD

on:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/template-cd-app.yaml
    with:
      tag: ${{ github.sha }}
      environment: "prod"
      HELM_NAMESPACE: ${{ vars.HELM_NAMESPACE }}
      HELM_VALUES_FILE: ${{ vars.HELM_VALUES_FILE }}
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
    