name: Deploy to PROD

on:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/template-cd-app.yaml
    with:
      tag: ${{ github.sha }}
      environment: "prod"
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}