name: Run CI/CD Pipeline

on:
  push:
    branches: [dev, qa, main]
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/template-cicd-app.yaml 

    with:
      environment_name: prod
      acr_login_server: hugintestacr.azurecr.io
      acr_repository: proj-hugin-backend
      aks_rg: hugin-test-rg 
      aks_cluster_name: hugin-test-aks

      helm_repo_name: clouddrove
      helm_repo_url: https://charts.clouddrove.com/ 
      helm_chart_name: helmchart
      helm_namespace: myapp
      helm_values_file: values.yaml


    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      helm_set_args: ""
      token_env: |
        DB_URL=${{ secrets.DB_URL }}
        ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }}
        REFRESH_TOKEN=${{ secrets.REFRESH_TOKEN }}
