name: Run CI/CD Pipeline

on:
  push:
    branches: [dev, qa, main]
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/template-cicd-app.yaml 

    with:
      acr_login_server: hugintestacr.azurecr.io
      acr_repository: proj-hugin-backend
      aks_rg: hugin-test-rg
      aks_cluster_name: hugin-test-aks

      helm_release_name: proj-hugin-api
      helm_chart_path: ./helmchart
      helm_namespace: ${{ github.ref_name == 'main' && 'prod' || github.ref_name }}
      helm_values_file:  ./helmchart/config/override-values.yaml


    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      helm_set_args: ""
      token_env: |
        DB_URL=${{ secrets.DB_URL }}
        ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }}
        REFRESH_TOKEN=${{ secrets.REFRESH_TOKEN }}