name: Run CI/CD Pipeline

on:
  push:
    branches: [dev, qa, prod]
  workflow_dispatch:


jobs:
  deploy:
    environment: ${{ github.ref_name }}
    uses: ./.github/workflows/template-cicd-app.yaml
    
    

    with:
      acr_login_server: ${{ vars.ACR_LOGIN_SERVER }}
      acr_repository:   ${{ vars.ACR_REPOSITORY }}
      aks_rg:           ${{ vars.AKS_RG }}
      aks_cluster_name: ${{ vars.AKS_CLUSTER_NAME }}

      helm_release_name: ${{ vars.HELM_RELEASE_NAME }}
      helm_chart_path:   ${{ vars.HELM_CHART_PATH }}
      helm_namespace:    ${{ github.ref_name }}
      helm_values_file:  ${{ format('values-%s.yaml', github.ref_name) }}

      # Runtime Helm secret arguments
      helm_set_args: |
        --set secret.DB_URL=${{ secrets.DB_URL }} \
        --set secret.ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }} \
        --set secret.REFRESH_TOKEN=${{ secrets.REFRESH_TOKEN }}

    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
    
    
