name: Run CI/CD Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - dev
      - qa
      - prod

jobs:

  build:
    uses: ./.github/workflows/template-cicd-app.yaml
    with:
      mode: build
      acr_login_server: ${{ vars.ACR_LOGIN_SERVER }}
      acr_repository:   ${{ vars.ACR_REPOSITORY }}
      aks_rg:           ${{ vars.AKS_RG }}
      aks_cluster_name: ${{ vars.AKS_CLUSTER_NAME }}
      helm_release_name: ${{ vars.HELM_RELEASE_NAME }}
      helm_chart_path:  ${{ vars.HELM_CHART_PATH }}
      helm_namespace:   dev
      helm_values_file: values-dev.yaml
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}


  deploy-dev:
    needs: build
    if: github.ref_name == 'dev'
    uses: ./.github/workflows/template-cicd-app.yaml
    with:
      mode: deploy
      acr_login_server: ${{ vars.ACR_LOGIN_SERVER }}
      acr_repository:   ${{ vars.ACR_REPOSITORY }}
      aks_rg:           ${{ vars.AKS_RG }}
      aks_cluster_name: ${{ vars.AKS_CLUSTER_NAME }}
      helm_release_name: ${{ vars.HELM_RELEASE_NAME }}
      helm_chart_path:  ${{ vars.HELM_CHART_PATH }}
      helm_namespace:   dev
      helm_values_file: values-dev.yaml

      helm_secret_args: |
        --set secret.secrets.DB_URL=${{ secrets.DB_DEV_URL }} \
        --set secret.secrets.JWT=${{ secrets.JWT_SECRET }}


    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}