name: Multi-Environment CI/CD

on:
  workflow_dispatch:
  push:
    branches:
      - dev
      - qa
      - prod

jobs:

  build:
    uses: ./.github/workflows/template-cicd-app.yaml
    with:
      environment: "build"
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}

  deploy-dev:
    needs: build
    if: github.ref_name == 'dev'
    uses: ./.github/workflows/template-cicd-app.yaml
    with:
      environment: "dev"
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}

  deploy-qa:
    needs: build
    if: github.ref_name == 'qa'
    uses: ./.github/workflows/template-cicd-app.yaml
    with:
      environment: "qa"
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}

  deploy-prod:
    needs: build
    if: github.ref_name == 'prod'
    uses: ./.github/workflows/template-cicd-app.yaml
    with:
      environment: "prod"
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}