name: Trigger Shared AKS CI/CD

on:
  push:
    branches:
      - main
      
permissions:
  id-token: write
  contents: read
  actions: write

jobs:
  call-shared:
    uses: ayush-cd/proj-hugin-devops-pipeline/.github/workflows/aks-cicd-application.yaml@main
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      acr_build_args_json: ${{ secrets.acr_build_args_json }}
