name: Shared CI-CD Template

on:
  workflow_call:
    inputs:

      acr_login_server:
        required: true
        type: string

      acr_repository:
        required: true
        type: string

      aks_rg:
        required: true
        type: string

      aks_cluster_name:
        required: true
        type: string

      helm_release_name:
        required: true
        type: string

      helm_chart_path:
        required: true
        type: string

      helm_namespace:
        required: true
        type: string

      helm_values_file:
        required: true
        type: string

      # Secrets or runtime values will be injected directly by calling workflow
      helm_set_args:
        required: true
        type: string   # Example: --set secret.DB_URL=value --set secret.JWT=value

    secrets:
      AZURE_CREDENTIALS:
        required: true


jobs:

  build_deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}   # approval based on environment (dev=auto, qa/prod=require)

    steps:
      - uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        uses: azure/docker-login@v2
        with:
          login-server: ${{ inputs.acr_login_server }}
          username:     ${{ fromJson(secrets.AZURE_CREDENTIALS).clientId }}
          password:     ${{ fromJson(secrets.AZURE_CREDENTIALS).clientSecret }}

      - id: meta
        name: Generate Image Tag
        run: echo "tag=${GITHUB_SHA:0:7}" >> $GITHUB_OUTPUT

      - name: Build & Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ inputs.acr_login_server }}/${{ inputs.acr_repository }}:${{ steps.meta.outputs.tag }}
            ${{ inputs.acr_login_server }}/${{ inputs.acr_repository }}:latest

      - uses: azure/setup-kubectl@v4
      - uses: azure/setup-helm@v4

      - name: Install kubelogin
        run: |
          curl -LO https://github.com/Azure/kubelogin/releases/latest/download/kubelogin-linux-amd64.zip
          sudo apt-get install unzip -y
          unzip kubelogin-linux-amd64.zip
          sudo mv bin/linux_amd64/kubelogin /usr/local/bin/kubelogin

      - uses: azure/aks-set-context@v4
        with:
          resource-group: ${{ inputs.aks_rg }}
          cluster-name:   ${{ inputs.aks_cluster_name }}

      - run: kubelogin convert-kubeconfig -l azurecli

      - name: Deploy Helm Release
        run: |
          helm upgrade --install "${{ inputs.helm_release_name }}" "${{ inputs.helm_chart_path }}" \
            --namespace "${{ inputs.helm_namespace }}" --create-namespace \
            -f "${{ inputs.helm_values_file }}" \
            --set image.repository="${{ inputs.acr_login_server }}/${{ inputs.acr_repository }}" \
            --set image.tag="${{ steps.meta.outputs.tag }}" \
            ${{ inputs.helm_set_args || '' }}