name: Shared CD - Deploy to AKS

on:
  workflow_call:
    inputs:
      tag:
        description: "Image tag to deploy"
        required: true
        type: string
      environment:
        description: "Deployment environment"
        required: true
        type: string
      helm_namespace:
        required: true
        type: string
      helm_values_file:
        required: true
        type: string
    secrets:
      AZURE_CREDENTIALS:
        required: true

permissions:
  id-token: write
  contents: read

env:
  ACR_LOGIN_SERVER: ${{ vars.ACR_LOGIN_SERVER }}
  ACR_REPOSITORY: ${{ vars.ACR_REPOSITORY }}
  AKS_RG: ${{ vars.AKS_RG }}
  AKS_CLUSTER_NAME: ${{ vars.AKS_CLUSTER_NAME }}
  KEY_VAULT_NAME: ${{ vars.KEY_VAULT_NAME }}
  HELM_RELEASE_NAME: ${{ vars.HELM_RELEASE_NAME }}
  HELM_CHART_PATH: ${{ vars.HELM_CHART_PATH }}
  HELM_NAMESPACE: ${{ vars.HELM_NAMESPACE }}
  HELM_VALUES_FILE: ${{ vars.HELM_VALUES_FILE }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Fetch Secrets from Key Vault
        uses: azure/cli@v2
        with:
          inlineScript: |
            echo "Fetching Key Vault Secrets..."
            echo "DB_URL=$(az keyvault secret show --name DB-URL --vault-name $KEY_VAULT_NAME --query value -o tsv)" >> $GITHUB_ENV
            echo "ACCESS_TOKEN_SECRET=$(az keyvault secret show --name ACCESS-TOKEN-SECRET --vault-name $KEY_VAULT_NAME --query value -o tsv)" >> $GITHUB_ENV
            echo "REFRESH_TOKEN_SECRET=$(az keyvault secret show --name REFRESH-TOKEN-SECRET --vault-name $KEY_VAULT_NAME --query value -o tsv)" >> $GITHUB_ENV

      - uses: azure/setup-kubectl@v4
      - uses: azure/setup-helm@v4

      - name: Install kubelogin
        run: |
          curl -LO https://github.com/Azure/kubelogin/releases/latest/download/kubelogin-linux-amd64.zip
          sudo apt install unzip -y
          unzip kubelogin-linux-amd64.zip
          sudo mv bin/linux_amd64/kubelogin /usr/local/bin/kubelogin

      - uses: azure/aks-set-context@v4
        with:
          resource-group: ${{ env.AKS_RG }}
          cluster-name: ${{ env.AKS_CLUSTER_NAME }}

      - run: kubelogin convert-kubeconfig -l azurecli

      - name: Deploy Helm Chart
        run: |
          echo "Deploying Helm release: $HELM_RELEASE_NAME"
          helm upgrade --install "$HELM_RELEASE_NAME" "$HELM_CHART_PATH" \
            --namespace "$HELM_NAMESPACE" --create-namespace \
            -f "$HELM_VALUES_FILE" \
            --set image.repository="$ACR_LOGIN_SERVER/$ACR_REPOSITORY" \
            --set image.tag="${{ inputs.tag }}" \
            --set secret.secrets.DB_URL="${{ env.DB_URL }}" \
            --set secret.secrets.ACCESS_TOKEN_SECRET="${{ env.ACCESS_TOKEN_SECRET }}" \
            --set secret.secrets.REFRESH_TOKEN_SECRET="${{ env.REFRESH_TOKEN_SECRET }}"