name: Shared CI-CD Template

on:
  workflow_call:
    inputs:
      mode:                     # build | deploy
        required: true
        type: string

      acr_login_server:
        required: true
        type: string

      acr_repository:
        required: true
        type: string

      aks_rg:
        required: true
        type: string

      aks_cluster_name:
        required: true
        type: string

      helm_release_name:
        required: true
        type: string

      helm_chart_path:
        required: true
        type: string

      helm_namespace:
        required: true
        type: string

      helm_values_file:
        required: true
        type: string

      # <-- one generic field for ANY secrets
      helm_secret_args:
        required: false
        type: string   # example: secret.secrets.DB_URL=value1,secret.secrets.JWT=value2

    secrets:
      AZURE_CREDENTIALS:
        required: true


jobs:

  build:
    if: ${{ inputs.mode == 'build' }}
    runs-on: ubuntu-latest

    env:
      ACR: ${{ inputs.acr_login_server }}
      REPO: ${{ inputs.acr_repository }}

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        uses: azure/docker-login@v2
        with:
          login-server: ${{ env.ACR }}
          username:     ${{ fromJson(secrets.AZURE_CREDENTIALS).clientId }}
          password:     ${{ fromJson(secrets.AZURE_CREDENTIALS).clientSecret }}

      - id: meta
        run: echo "tag=${GITHUB_SHA:0:7}" >> $GITHUB_OUTPUT

      - name: Build & Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.ACR }}/${{ env.REPO }}:${{ steps.meta.outputs.tag }}
            ${{ env.ACR }}/${{ env.REPO }}:latest



  deploy:
    if: ${{ inputs.mode == 'deploy' }}
    needs: build
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - run: echo "IMAGE_TAG=${GITHUB_SHA:0:7}" >> $GITHUB_ENV

      - uses: azure/setup-kubectl@v4
      - uses: azure/setup-helm@v4

      - name: Connect to AKS
        run: |
          az aks get-credentials \
            --resource-group "${{ inputs.aks_rg }}" \
            --name "${{ inputs.aks_cluster_name }}" \
            --overwrite-existing

      - name: Apply Helm Deployment
        run: |
          helm upgrade --install "${{ inputs.helm_release_name }}" "${{ inputs.helm_chart_path }}" \
            --namespace "${{ inputs.helm_namespace }}" --create-namespace \
            -f "${{ inputs.helm_values_file }}" \
            --set image.repository="${{ inputs.acr_login_server }}/${{ inputs.acr_repository }}" \
            --set image.tag="$IMAGE_TAG" \
            ${{ inputs.helm_secret_args }}